@charset "UTF-8";
/* CSS Document */

.main-content {
	box-sizing: border-box;
	grid-area: 1 / 3 / span 4 / span 1;
	width: 100%;
	height: 100%;
	background-color: rgba(248, 241, 180, 0.8);
	border-radius: 25px;
	padding: 50px;
	text-align: justify;
	font-size: 18px;
	line-height: 26px;
	color: #8E674D;
	z-index: 10;
}

.about img {
	height: 120%;
	animation: pulselight 3s linear infinite;
}

.read img, .shop img, .contact img {
	height: 90%;
}


@keyframes pulselight {
	0% {
    transform: scale(1);
    opacity: 1;
	}
	
	50% {
    transform: scale(1.1);
    opacity: 0.75;
	}
	
	100% {
    transform: scale(1);
    opacity: 1;
	}
}


/*----MOBILE VIEW----*/

@media (max-width: 420px) {

.main-content {
	grid-area: 4 / 2 / span 3 / span 4;
	border-radius: 20px;
	padding: 20px;
	font-size: 14px;
	line-height: 20px;
	overflow: auto;
}

.about img {
	height: 150%;
}

.read img, .shop img, .contact img {
	height: 110%;
}	
}

